<%- include('./partials/header') %>
<main id="visit-show">
    <div class="page-title">
        <%= user.name %>'s <%= title %> National Park
    </div>
    <div>
        <p>
            Date Visited: <%= visit.date.toLocaleDateString() %><br>
            Junior Ranger Badge <%= visit.jrRangerBadge.length ? 'Obtained' : 'Not Obtained' %><br>
            <% if (visit.jrRangerBadge.length === 0) { %>
                <form action="/visits/<%= visit._id %>/badge" method="POST">
                    <label for="date">Date I Obtained Badge: 
                        <input id="date" 
                        type="date" 
                        name="date"
                        value="<%= visit.date.toISOString().slice(0, 10) %>" 
                        required>
                    </label>
                    <button class="add">Add Badge to Visit</button>
                </form>
            <% } %>
        </p>
    </div>
    <div>
        <a class="edit" href="/visits/<%= visit._id %>/edit">Edit This Visit</a>
    </div>
    <form action="/visits/<%= visit._id %>?_method=DELETE" method="POST">
        <button class="delete" type="submit">Delete This Visit</button>
    </form>
    <a class="link" href="/visits">Return to My Visits List</a>
</main>
<%- include('./partials/footer') %>