<%- include('./partials/header') %>
<main>
<% if (user.parkVisits.length) { %>
    <div class="page-title"><%= user.name %>'s National Park Visits.</div>
    <table>
        <thead>
            <tr>
                <th>Date of Visit</th>
                <th>Park Visited</th>
                <th>Junior Ranger Badge Obtained?</th>
            </tr>
        </thead>
        <tbody>
            <% user.parkVisits.map(visit => { %>
            <tr>
                <td><%= visit.date.toLocaleDateString() %></td>
                <td><%= visit.parkName %></td>
                <td><%= visit.jrRangerBadge %></td>
                <% }); %>
            </tr>
        </tbody>
    </table>
<% } else { %>
    <div >You haven't added any visits yet.</div>
<% } %>
<a href="/visits/new">Add a new visit</a>
</main>
<%- include('./partials/footer') %>