<%- include('./partials/header') %>
<main id="visit-list">
<% if (user.parkVisits.length) { %>
    <div class="page-title"><%= user.name %>'s National Park Visits</div>
    <a class="link" href="/visits/new">Add a new visit</a>
    <table>
        <tbody>
            <% user.parkVisits.map(visit => { %>
            <tr>
                <td id="park-name"><%= visit.parkName %> National Park</td>
                <td id="date">
                    Date Visited: <%= visit.date.toLocaleDateString() %><br><br>
                    <a class="link" id="details" href="/visits/<%= visit._id %>">Details</a>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
<% } else { %>
    <div >You haven't added any visits yet.</div>
    <a class="link" href="/visits/new">Add a new visit</a>
<% } %>
</main>
<%- include('./partials/footer') %>